pandas==0.24.2
opencv-python==4.3.0.36 
requests==2.20.0
python-telegram-bot==12.6.1
lxml==4.6.5
beautifulsoup4==4.9.0
weasyprint==51.0
jupyterlab==2.2.2
matplotlib==3.0.3
scikit-learn==0.22.1
sounddevice==0.4.1
