<body>



</body>

// Here comes JavaScript, however in this case we're just gonna import it here.
<%- include('importScript'); -%>

// Located in folder js 
<script src="/js/funcaoPrintarTeste.js">

</script>